# CODE :

In [1]:
pip install nltk

Requirement already satisfied: nltk in c:\users\chett\new folder\lib\site-packages (3.7)
Requirement already satisfied: joblib in c:\users\chett\new folder\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: tqdm in c:\users\chett\new folder\lib\site-packages (from nltk) (4.64.0)
Requirement already satisfied: click in c:\users\chett\new folder\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: regex>=2021.8.3 in c:\users\chett\new folder\lib\site-packages (from nltk) (2022.3.15)
Requirement already satisfied: colorama in c:\users\chett\new folder\lib\site-packages (from click->nltk) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import nltk

In [3]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\chett\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

# IMPORT DATASET

In [4]:
import pandas as pd
import numpy as np

In [5]:
fake=pd.read_csv("Fake.csv")

genuine=pd.read_csv("True.csv")

In [6]:
fake

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [7]:
display(fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

In [8]:
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [9]:
display(genuine.head())

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [10]:
display(fake.head(23509))

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [11]:
print(fake.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [12]:
fake['target']=0
genuine['target']=1

In [13]:
display(genuine.head())

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [14]:
display(fake.head(10))

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [15]:
data=pd.concat([fake,genuine],axis=0)

In [16]:

#data= pd.DataFrame(data, columns = ['title', 'text', 'subject', 'date'])
data

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [17]:
data=data.reset_index(drop=True)

In [18]:
data=data.drop(['title','subject','date'],axis=1)

In [19]:
print(data.columns)

Index(['text', 'target'], dtype='object')

# # DATA PREPROCESSING

# TOKENIZATION

In [20]:
from nltk.tokenize import word_tokenize

In [21]:
data['text']=data['text'].apply(word_tokenize)

In [22]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

# STEMMING

In [23]:
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
porter =SnowballStemmer("english",ignore_stopwords=False)

In [24]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [25]:
data['text']=data['text'].apply(stem_it)

In [26]:
#print(data.head(10))
data

                                                    text  target
0      [donald, trump, just, couldn, t, wish, all, am...       0
1      [hous, intellig, committe, chairman, devin, nu...       0
2      [on, friday, ,, it, was, reveal, that, former,...       0
3      [on, christma, day, ,, donald, trump, announc,...       0
4      [pope, franci, use, his, annual, christma, day...       0
...                                                  ...     ...
44893  [brussel, (, reuter, ), -, nato, alli, on, tue...       1
44894  [london, (, reuter, ), -, lexisnexi, ,, a, pro...       1
44895  [minsk, (, reuter, ), -, in, the, shadow, of, ...       1
44896  [moscow, (, reuter, ), -, vatican, secretari, ...       1
44897  [jakarta, (, reuter, ), -, indonesia, will, bu...       1

[44898 rows x 2 columns]

# STOPWORD REMOVAL

In [27]:
from nltk.corpus import stopwords
nltk.download('stopwords')
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\chett\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [28]:
def stop_it(t):
    dt=[word for word in t if len(word)>>2]
    return dt

In [29]:
data['text']=data['text'].apply(stop_it)

In [30]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, wish, american, ...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [friday, reveal, that, former, milwauke, sheri...       0
3  [christma, donald, trump, announc, that, would...       0
4  [pope, franci, annual, christma, messag, rebuk...       0
5  [number, case, brutal, kill, peopl, color, see...       0
6  [donald, trump, spent, good, portion, golf, cl...       0
7  [wake, anoth, court, decis, that, derail, dona...       0
8  [mani, peopl, have, rais, alarm, regard, fact,...       0
9  [just, when, might, have, thought, break, from...       0

In [31]:
data['text']=data['text'].apply(' '.join)

In [32]:
data

                                                    text  target
0      donald trump just couldn wish american happi y...       0
1      hous intellig committe chairman devin nune hav...       0
2      friday reveal that former milwauke sheriff dav...       0
3      christma donald trump announc that would back ...       0
4      pope franci annual christma messag rebuk donal...       0
...                                                  ...     ...
44893  brussel reuter nato alli tuesday welcom presid...       1
44894  london reuter lexisnexi provid legal regulator...       1
44895  minsk reuter shadow disus soviet-era factori m...       1
44896  moscow reuter vatican secretari state cardin p...       1
44897  jakarta reuter indonesia will sukhoi fighter w...       1

[44898 rows x 2 columns]

# SPLITTING UP OF DATA

In [33]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(data['text'],data['target'],test_size=0.25)
display(X_train.head())
print('\n')
display(y_train.head())

40022    yangon/sittw reuter buddhist myanmar wednesday...
26480    washington reuter u.s. senat republican leader...
3109     there thing that certain that point presid rid...
9333     news anchor bret baier surpris visitor mar-a-l...
31496    hempstead york reuter anti-establish candid do...
Name: text, dtype: object

40022    1
26480    1
3109     0
9333     0
31496    1
Name: target, dtype: int64

# VECTORIZATION

In [34]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf= TfidfVectorizer(max_df=0.7)

tfidf_train=tfidf.fit_transform(X_train)
tfidf_test=tfidf.transform(X_test)

In [35]:
print(tfidf_train)

  (0, 32001)	0.02373434789758152
  (0, 81640)	0.03521026404867749
  (0, 77446)	0.04619204936806714
  (0, 61012)	0.02715387995158279
  (0, 80008)	0.01648322845733588
  (0, 72301)	0.024175532306506486
  (0, 80761)	0.061853335069812436
  (0, 60976)	0.0276043781161707
  (0, 79386)	0.054733691598012384
  (0, 79608)	0.022448516920672967
  (0, 29604)	0.04808680378068243
  (0, 45388)	0.03003070062357635
  (0, 79522)	0.02164044967477611
  (0, 48700)	0.02359028538602254
  (0, 72826)	0.047629653130976606
  (0, 70503)	0.061524837163945384
  (0, 39465)	0.0670570642748718
  (0, 12740)	0.03298136536888447
  (0, 33751)	0.04337600911590826
  (0, 27725)	0.03399221086680683
  (0, 64593)	0.025599018315621697
  (0, 87738)	0.013735517850280484
  (0, 11517)	0.025490310418302152
  (0, 43266)	0.030058559352713628
  (0, 56537)	0.03246512213770831
  :	:
  (33672, 71971)	0.10631562583177094
  (33672, 60976)	0.06581600950472515
  (33672, 27725)	0.08104626244725306
  (33672, 64593)	0.09155206607166508
  (33672, 87738)	0.09824712981200695
  (33672, 11517)	0.03038776142155845
  (33672, 40400)	0.043726003545301435
  (33672, 59561)	0.03151603588549035
  (33672, 77279)	0.021619557790263894
  (33672, 20793)	0.027590733096357123
  (33672, 79364)	0.01720144962799684
  (33672, 86501)	0.018102013419860365
  (33672, 67678)	0.028699247573893583
  (33672, 8942)	0.0564928341276591
  (33672, 31907)	0.043699398874842886
  (33672, 79651)	0.014141981471007951
  (33672, 67646)	0.02031631369745974
  (33672, 35599)	0.024561078515528592
  (33672, 7711)	0.026637241999243735
  (33672, 87057)	0.016674730719315946
  (33672, 17239)	0.02051863519978587
  (33672, 54416)	0.017356397446885392
  (33672, 55995)	0.020379573538786545
  (33672, 86297)	0.027350065902849868
  (33672, 68042)	0.01692460022932131

# BUILDING OF ML MODEL

# LOGIC REGRESSION

In [36]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [37]:
model_1=LogisticRegression(max_iter=900)
model_1.fit(tfidf_train,y_train)

LogisticRegression(max_iter=900)

In [38]:
pred_1= model_1.predict(tfidf_test)

In [39]:
pred_1

array([1, 1, 1, ..., 0, 0, 0], dtype=int64)

In [40]:
y_test

44041    1
31358    1
44235    1
35197    1
22680    0
        ..
11802    0
42124    1
18964    0
15451    0
14733    0
Name: target, Length: 11225, dtype: int64

In [41]:
cr1=accuracy_score(y_test,pred_1)
cr1

0.9870824053452116

In [42]:
from sklearn.linear_model import PassiveAggressiveClassifier

model=PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train,y_train)

PassiveAggressiveClassifier(max_iter=50)

In [43]:
y_pred=model.predict(tfidf_test)
accscore=accuracy_score(y_test,y_pred)
print(accscore)

0.9959910913140312